body{
  background-color: #000;
  margin: 0;
  font-family: "Montserrat", "Avenir";
}

.instructions {
  text-decoration: none;
  color: black;
  font-weight: bold;
  /* margin-left: 25px; */
  padding: 5px;
  font-size: 20px;
}
.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px; /* height of your footer */
}
.footer {
 position: absolute;
 bottom: 0;
 left:0;
 width: 100%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #222;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  line-height: 32px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.square{
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin:1.66%;
  border-radius: 1em;
  transition: background .5s;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
}
.container {
  max-width: 600px;
  margin: 20px auto;
}

.selected {
  background-color: steelblue;
  color:white;
}
.center {
  text-align: center;
}
.color-change {
  -webkit-animation:colorchange 20s infinite alternate;
  animation:colorchange 20s infinite alternate;
}
@-webkit-keyframes colorchange {
      0% {

        color: blue;
      }

      10% {

        color: #8e44ad;
      }

      20% {

        color: #1abc9c;
      }

      30% {

        color: #d35400;
      }

      40% {

        color: blue;
      }

      50% {

        color: #34495e;
      }

      60% {

        color: blue;
      }

      70% {

        color: #2980b9;
      }
      80% {

        color: #f1c40f;
      }

      90% {

        color: #2980b9;
      }

      100% {

        color: pink;
      }
    }

#span-wrap {
  background-color: white;
  margin: 0 auto;
  height: 30px;
  text-align: center;
}
#level {
  float: right
}
#level a {
  /*padding: 5px;*/
}
span a {
  text-decoration: none;
  padding: 5px
};
span #newColor {
  /*float: left*/
}
#msg {
  /*margin: auto;*/
  display: inline-block;
  width: 20%;
  color: black;
}
#colorDisplay {
  font-size:7vw;
}
@media screen and (max-width:700px ) {
  #colorDisplay {
    font-size:10vw;
  }
}
h1{
  text-align: center;
  margin: 0;
  background: steelblue;
  line-height: 1.1;
  color: white;
  font-weight: normal;
  padding: 20px 0;
}
.up {
  text-transform: uppercase;
}
.outline {
  text-shadow: 1px 1px 3px black;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  font-size: inherit;
  outline: none;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
}


button:hover {
  color:white;
  background: steelblue
}
